
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        投诉添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/css/main.css}" media="all">
    <script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
    <style>
        .imgs{display: none;}
    </style>

</head>
<body>

<div class="x-body">
    <form class="layui-form layui-form-pane" action="" id="add">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <input type="text" name="port" th:value="${port}" hidden>
            <input type="text" name="cpid" th:value="${complaints.cpid}" hidden>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>所属小区
                        </label>
                        <div class="layui-input-block" style="width: 200px">
                            <select id="com_id" name="community_id" th:filed="*{list}" >
                                <option th:value="${complaints.cid}"
                                        th:text="${complaints.cname}">
                                </option>
                                <option th:each="list:${communities}"
                                        th:value="${list.cid}"
                                        th:text="${list.cname}"
                                        th:if="${complaints.cid} neq ${list.cid}" th:hidden>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>投诉人员
                        </label>
                        <div class="layui-input-block" style="width: 200px">
                            <input type="text" name="username" th:placeholder="${complaints.pname}"
                                   class="layui-input" th:value="${complaints.pname}" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>投诉事由
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="descr" autocomplete="off" th:placeholder="${complaints.descr}"
                                   class="layui-input" th:value="${complaints.descr}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn" type="button" lay-filter="add" lay-submit="">
                            保存
                        </button>
                    </div>
                    <!--</form>-->
                    <div style="height:100px;"></div>
                </div>
            </div>

        </div>
    </form>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/x-layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>

<script>
    layui.use(['laydate','element','layer','form'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层
        form = layui.form();
        laydate = layui.laydate;//日期插件
        okLoading.close($);
        form.render();



        //监听提交
        form.on('submit(add)', function(data){
            var uasername=$("input[name='uasername']").val();
            var descr=$("input[name='descr']").val();
            var community_id=$('#community_id option:selected').val();//所属栏目ID
            if(community_id==""){
                layer.msg('所属小区不能为空',{icon:5,time:2000});return false;
            }
            if(uasername==""){
                layer.msg('投诉人员不能为空',{icon:5,time:2000});return false;
            }
            if(descr==""){
                layer.msg('投诉事由不能为空',{icon:5,time:2000});return false;
            }
            var port=$("input[name='port']").val();
            var data=data.field;
            $.ajax({
                type:"post",
                url:"http://localhost:"+port+"/complainupData",
                data:data,
                dataType:"json",
                success:function(data){
                    if(data==1){
                        layer.msg('更新成功！', {icon: 6,time:2000},function () {
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        return false;

                    } else{
                        layer.msg('更新失败！',{icon:5,time:2000});return false;
                    }
                }
            });
        });
    })
</script>
</body>
</html>