
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        楼栋添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/css/main.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
    <style>
        .imgs{display: none;}
    </style>

</head>
<body>

<div class="x-body">
    <form class="layui-form layui-form-pane" action="" id="add">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <input type="text" name="port" th:value="${port}" hidden>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <input type="hidden" name="id" value="">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 95px;">
                            <span class='x-red'>*</span>所属小区
                        </label>
                        <div class="layui-input-block">
                            <select name="community" id="community_name" th:filed="*{list}">
                                <option value=""> </option>
                                <option th:each="list:${communities}"
                                        th:value="${list.cname}"
                                        th:text="${list.cname}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 95px;">
                            <span class='x-red'>*</span>栋数名称
                        </label>
                        <div class="layui-input-block">
                            <select name="building" id="buildings_id">
                                <option value="A" >A栋</option>
                                <option value="B" >B栋</option>
                                <option value="C" >C栋</option>
                                <option value="D" >D栋</option>
                                <option value="E" >E栋</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 95px;">
                            <span class='x-red'>*</span>总车位数
                        </label>
                        <div class="layui-input-block">
                            <input type="number" name="park_num" id="park_num" min="1" autocomplete="off" placeholder="请输入数字，最小为1"
                                   class="layui-input" required="number" lay-verify="number" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" type="button" lay-filter="add" lay-submit="">
                            保存
                        </button>
                    </div>
                    <!--</form>-->
                    <div style="height:100px;"></div>
                </div>



            </div>

        </div>
    </form>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/x-layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //UE.getEditor('content',{initialFrameWidth:1000,initialFrameHeight:400,});
</script>
<script>
    layui.use(['element','layer','form'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层
        form = layui.form()
        okLoading.close($);


        //监听提交
        form.on('submit(add)', function(){
            var port=$("input[name='port']").val();
            var building=$('#buildings_id option:selected').val();
            var park_num=$("input[name='park_num']").val();
            var community=$('#community_name option:selected').val();//所属栏目ID

            if(community==""){
                layer.msg('小区名称不能为空',{icon:5,time:2000});return false;
            }
            if(building==""){
                layer.msg('车位名称不能为空',{icon:5,time:2000});return false;
            }
            if(park_num==""){
                layer.msg('请输入车位号！',{icon:5,time:2000});return false;
            }
            $.ajax({
                type:"post",
                url:"http://localhost:"+port+"/parkingaddData",
                data:{building: building,
                    park_num: park_num,
                    community: community},
                dataType:"json",
                success:function(data){
                    if(data==1){
                        layer.msg("插入成功！", {icon: 6,time:1000},function () {
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        return false;
                    }
                    else{
                        layer.msg("插入失败！",{icon:5,time:1000});return false;
                    }
                }

            });

        });

    })
</script>

</body>
</html>